<div class="container mt-4">
  <h2 class="text-center mb-4">Current Money Details</h2>
  <div class="table-responsive" id="pdfTable">
    <table class="table table-hover table-striped table-bordered text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Total Money</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userRole }}</td>
          <td>{{ user.totalMoney }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="downloadPDF()">Download as PDF</button>
  </div>
</div>
